{% extends 'base.html' %}
{% load page_tags %}
{% load thumbnail %}


{% block title %}{{ page.title }} - {{ block.super }}{% endblock %}

{% block pagetitle %}<a href="{{ page.get_absolute_url }}">{{ page.title }}</a>{% endblock %}


{% block nav %}
{% include "includes/nav.html" with current_page=page only %}
{% endblock nav %}


{% block subnav %}
{% include "includes/subnav.html" with current_page=page only %}
{% endblock subnav %}


{% block hero_image %}
{% thumbnail page.hero_image.file '1200x500' crop='center' as thumb %}
    <div class="hero-image">
        <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="">
    </div>
{% endthumbnail %}
{% endblock hero_image %}


{% block content %}
{{ page.content|safe }}
{% endblock content %}
