{% extends "news/base.html" %}
{% load thumbnail %}


{% block content %}
<ul class="post-list">
    {% for post in object_list %}
        <li class="post summary {% if post.image %}image{% endif %}">
            {% thumbnail post.image.file "480x360" as thumb %}
                <a href="{{ post.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ post }}" /></a>
            {% endthumbnail %}

            <h1><a href="{{ post.get_absolute_url }}">{{ post }}</a></h1>
            <h6>{{ post.date|date:"j M Y" }} &bull; <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></h6>

            <div class="teaser">
                {% if post.teaser %}
                    {{ post.teaser|linebreaks }}
                {% else %}
                    {{ post.content|safe }}
                {% endif %}
            </div>

            <a class="more" href="{{ post.get_absolute_url }}">Read More</a>
        </li>
    {% endfor %}
</ul>

{% if is_paginated %}
    <nav class="pagination">
        {% if page_obj.has_previous %}
            <a class="prev" href="?page={{ page_obj.previous_page_number }}">Prev</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a class="next" href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </nav>
{% endif %}
{% endblock content %}
