{% extends "base.html" %}
{% load news_tags %}


{% block endhead %}
<link rel="alternate" type="application/rss+xml" title="News" href="{% url 'blanc_basic_news:feed' %}" />
{% endblock endhead %}


{% block nav %}
{% include "includes/nav.html" with current_page='blanc_basic_news:post-list' only %}
{% endblock nav %}


{% block subnav %}
<nav class="subnav">
    <ul>
        {% get_news_categories as news_categories %}
        {% for i in news_categories %}
            <li><a href="{{ i.get_absolute_url }}"{% if category == i or object.category == i %} class="active"{% endif %}>{{ i }}</a></li>
        {% endfor %}
    </ul>
</nav>
{% endblock subnav %}
