{% load static from staticfiles %}{% load news_tags events_tags %}<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{{ request.site.name }}{% endblock %}</title>
    <meta name="author" content="{{ request.site.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styles.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet">
    {% block endhead %}{% endblock %}
</head>
<body class="{% block bodyclass %}default{% endblock %}">

<main class="page">
    <header class="head">
        <h1><a href="/">{{ request.site.name }}</a></h1>
        <nav class="nav">
            {% block nav %}
            {% include "includes/nav.html" only %}
            {% endblock nav %}
        </nav>
        <nav class="subnav">
            {% block subnav %}{% endblock %}
        </nav>
    </header>

    <div class="main">
        {% block hero_image %}{% endblock %}

        <article class="content box">
            <div class="wrap">
                {% block content %}{% endblock %}
            </div>
        </article>
        <aside class="side">
            <div class="box">
                <div class="news">
                    {% get_latest_news 1 as news_list %}
                    {% for news in news_list %}
                        <h2><a href="{{ news.get_absolute_url }}">{{ news.title|truncatewords:5 }}</a></h2>
                        <p>
                            {% if news.teaser %}
                                {{ news.teaser|truncatewords:10 }}
                            {% else %}
                                {{ news.content|striptags|truncatewords:10 }}
                            {% endif %}

                            <a href="{{ news.get_absolute_url }}" title="{{ news.title }}">more</a>
                        </p>
                        <h3><a href="{% url 'blanc_basic_news:post-list' %}">More News...</a></h3>
                    {% endfor %}
                </div>
                <div class="events">
                    {% get_upcoming_events 1 as events %}
                    {% for event in events %}
                        <h2><a href="{{ event.get_absolute_url }}">{{ event.title|truncatewords:5 }}</a></h2>
                        <p>{{ event.summary|truncatewords:10 }} <a href="{{ event.get_absolute_url }}" title="{{ event.title }}">more</a></p>
                        <h3><a href="{% url 'blanc_basic_events:events-home' %}">More Events...</a></h3>
                    {% endfor %}
                </div>
            </div>
        </aside>
    </div>
</main>

<footer class="foot">
    <p>&copy; Copyright {% now "Y" %}. All rights reserved.</p>
    <ul>
        <li><a href="http://maps.google.co.uk" target="_blank">Address goes here</a></li>
        <li><a href="mailto:email@example.org">email@example.org</a></li>
        <li><a href="tel:+441214960000">0121 496 0000</a></li>
    </ul>
</footer>

{% block endpage %}{% endblock %}

</body>
</html>
