{% extends "events/base.html" %}
{% load thumbnail %}

{% block title %}Special Events - {{ block.super }}{% endblock %}

{% block pagetitle %}<a href="{% url 'blanc_basic_events:events-home' %}">Special Events</a>{% endblock %}

{% block content %}

<h1>Events</h1>
<a class="ical more" href="webcal://{{ request.get_host }}{% url 'blanc_basic_events:feed' %}">Subscribe to iCal feed</a>
<hr />

<ul class="event-list">
    {% for i in object_list %}
        <li class="event summary {% if i.image %}image{% endif %}">
            {% if i.image %}
                {% thumbnail i.image.file 593x480 upscale as thumb %}
                <a href="{{ i.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ i }}" /></a>
            {% endif %}
            <h1><a href="{{ i.get_absolute_url }}">{{ i }}</a></h1>
            <h6>
                {{ i.start|date:"j M Y" }} {{ i.start|date:"g:iA" }}

                {% if i.start != i.end %}
                    &mdash;

                    {% if i.start.date != i.end.date %}
                        {{ i.end|date:"j M Y" }}
                    {% endif %}

                    {{ i.end|date:"g:iA" }}
                {% endif %}
            </h6>
            <div class="teaser">
                {{ i.description|safe }}
            </div>
            <a class="more" href="{{ i.get_absolute_url }}">Read More</a>
        </li>
    {% endfor %}
</ul>

{% if is_paginated %}
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a class="prev" href="?page={{ page_obj.previous_page_number }}">Next &gt;</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a class="next" href="?page={{ page_obj.next_page_number }}">&lt; Prev</a>
        {% endif %}
    </div>
{% endif %}
{% endblock content %}
